

button {
    border: none;
    border-radius: 8px;
    padding: .5rem;
    margin: 5px;
    border: 1px solid black;
    cursor: pointer;
}

button:hover {
    background-color: rgb(189, 189, 189);
}

.refresh {
    background-color: rgb(43, 105, 180);
    border-radius: 8px;
    padding: 3px;
    color: rgb(226, 226, 226);
    padding: .5rem;

}
.refresh:hover {
    background-color: rgb(80, 126, 182);
}

.buy {
    background-color: rgb(17, 145, 3);
    border-radius: 8px;
    padding: 3px;
    color: rgb(226, 226, 226);
    padding: .5rem;
}
.buy:hover {
    background-color: rgb(99, 136, 94);
}

.sell {
    background-color: rgb(196, 0, 0);
    border-radius: 8px;
    padding: 3px;
    color: rgb(226, 226, 226);
    padding: .5rem;
}
.sell:hover {
    background-color: rgb(202, 57, 57);
}